.skill-box{
    /* border: 1px solid grey; */
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 50%, 0.375);
    min-width : 250px;
    min-height: 200px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition : transform 0.3s ease;
}

.skill-box:hover{
    transform: scale(1.02);
}

#i290{
    color: #464D5F;

}
.skill-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    min-height:80px;
}
.skill-name{
    font-size: 20px;
    /* font-weight: 600; */
    padding-bottom: 20px;
}
.skill-left{
    display: flex;
    flex-direction: column;
}
.skill-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10%;
}
.skill-start-btn{
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.136);
    background: hsl(223, 47%, 44%);
    padding: 10px;
    transition: 0.5s;
}

.skill-start-btn:hover{
    background: hsl(223, 47%, 54%);
}