body {
  /* font-family: 'Poppins', sans-serif; */
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#464D5F;
}



.landing-page {
display:flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
padding: 50px;
font-family: Arial, sans-serif;
}
.landing-page h1{
font-size:35px;
}

.title {

margin-bottom: 40px;
}

.card-container {
display: flex;
justify-content: center;
gap: 50px;
}

.card {
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
border: 1px solid #ddd;
border-radius: 10px;
padding: 30px;
width: 300px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
}

.card:hover{
  background: linear-gradient(135deg, #e0f7fa, #f0f4f5);  transform: scale(1.02);
}

.card h2 {
  color:#3C5AA5;
  
  font-family:'Popins', sans-serif;
font-size: 24px;
margin-bottom: 50px;
}

.card p {
font-family:'Popins', sans-serif;
font-size: 15px;
margin-bottom: 10px;
}

.card a {
/* color: #007BFF; */
text-decoration: none;
font-weight: bold;
}

.card a:hover {
text-decoration: underline;
}

.colorKaro{
color: #3C5AA5;
}


#i119{
  margin-top:80px;
}

#i120{

}
#i131{
  color:#3C5AA5;
  font-family:"Poppins", sans-serif;
}

#i132 p a{
  color:#3C5AA5;
  font-family:"Poppins", sans-serif;
}



@media (max-width: 768px) {
  #i119{
    display:flex;
    flex-direction: column;
  }
  #i132{
    width:200px;
  }
}