
.containerr {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.question {
    /* display: flex;
    flex-direction: column;
    margin-bottom: 20px; */
}

.options {
    margin-left: 20px;
}

/* .answers{
    display: inline-block;
} */

/* .answers-left input{
    width: auto;
}

.answers-right{
    flex-basis: 50%;
} */

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#result-container {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
