.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  
  .form-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .login-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  


  @media (max-width: 600px) {
    #i137{
      width:60%;
    }
    #i141{
      font-size:12px;
    }
    #i142{
      font-size:12px;
    }
    #i138{
      font-size:20px;
    }
    #i142{
      height:10px;
    }
    #i143{
      font-size:12px;
      height:35px;
      width:100px;

    }
  }

  