.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .pagination-button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination-button.active {
    background-color: #464d5f;
    color: white;
    border: 1px solid #989ba2;
  }
  