*{
    text-decoration: none;

}

.container{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}
.box{
    height:100px;
    width:100px;
}
.simply{
    display: flex;
    align-items: center;
}
.profile-header{
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 50px 10%; */
    background-color: hsla(0, 0%, 50%, 0.162);
}
.editbtn{
    height:25px;
    min-height: 25px;
    margin-left: 15px;
    cursor: pointer;
}
.about-section{
    flex-basis: 70%;
}
.about-section-a{
    margin-left:40px;

    width:85%;
    padding-left:30px;    
}
.complete{
    width:100%;
    
    height:100%;
    background-color: white;
}


.about{
    display: flex;
    height:100%;
    width:100%;
}
.skills-section{
    flex-basis:30%;
}
.skills-section h3{
    font-size:xx-large;
}


.about-text{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    width:80%;
}

.about-section-a h3{
    font-size:xx-large;
}
.about-section-a p{
    font-weight:50;
}

.about-section{
    /* display:flex; */
    width:100%;
}
.about1{
    display:flex;
    justify-content: center;
    align-items: center;

}




.addskill{
    font-size:15px;
    color:rgb(60, 60, 141);
}

.skills-list{
    padding: 15px;
    height:200px;
    overflow-y: scroll;
    border:1px solid grey;
    box-shadow: 5px 5px hsla(0, 0%, 50%, 0.584);
    border-radius: 10px;
    width: 60%;
}


.experience-section{
    margin:0px 60px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.exp-h3{
    font-size:xx-large;
    margin-left:60px;
}
.experience-item{
    padding:20px;
    border-radius:12px;
    display:flex;
    margin:10px 50px;
    width:70%;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
}
.centerIt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}
.title{
    font-size:x-large;
    margin: 0;
}

.vinu-t{
    margin: 0;
    margin-top: 2px;
}

.description{
    font-weight:100;
    font-size: 16px;
}

.experience-item-a{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    min-height: 150px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 50%, 0.262);
    margin-right: 10px;
}

.projects-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width:80%;
    gap: 20px;
}

.project-item{
    border-radius:10px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
    padding:10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item-t{
    font-size:large;
    color: #3C5AA5;
}

.project-item-s{
    font-weight:100;
}

.pro{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.project-link-holder{
    display: flex;
    justify-content: flex-end;
}


.profile-picture{
    height:200px;
    width: 200px;
    background: white;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.608);
    border-radius: 15px;
}

#pro-name{
    text-align: center;
}

.company-logo{
    height: 120px;
}

.add-more-projects{
    margin-top: 15px;
}



.profile-left{
    display:flex;
    flex-direction:column;
    width:300px;
    align-items: center;
    justify-content: center;
}


#exp1{
    margin-left:30px;
    margin-top:30px;
}

.iconnn{
    height: 20px;
}

#headQ{
    color:#3C5AA5;
    text-decoration: none;
}

.heatmap-container{
    display: flex;
}

.logoo{
    height: 30px;
}
.images-con{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.images-con img{
    margin: 10px;
    cursor: pointer;
}
.images-con a{
    text-decoration: none;
}



@media (max-width: 1000px){
    .profile-picture{
        height:150px;
        width: 150px;
    }
    .profile-left{
        width:200px;
    }
    #pro-name{
        font-size: large;
    }
    .location{
        font-size: small;
    }
    .heatmap-container{
        width: 60%;
    }
}
@media (max-width: 780px){
    .profile-picture{
        height:150px;
        width: 150px;
    }
    .profile-left{
        width:200px;
    }
    #pro-name{
        font-size: large;
    }
    .location{
        font-size: small;
    }
    .profile-header{
        flex-direction: column;
    }
    .heatmap-container{
        margin-top: 30px;
    }
}

@media (max-width: 505px){
    .heatmap-container{
        display:none;
    }
}


@media (max-width: 900px){
    .exp-h3{
        margin-left:30px;
        margin-top:60px;
        font-size:large;

    }
    .experience-item-a p{
        font-size:smaller;
    }

    #hi10{
        font-size:medium;
    }
    #hi11{
        font-size:medium;
    }
    .description{
        font-size:smaller;
    }
    .experience-item-a img{
        height: 70px;
        width:
    }
    .experience-section{
        margin:0px;

    }
    .experience-item{
        height:150px;
        margin:0px;
        
    }
    .experience-item-a{

        min-width:150px;
    }

    .about1{
        flex-direction: column;
        align-items: flex-start;
    }
    .about-section-a{
        margin-left:0px;
        font-size:smaller;
    }
    .about-section-a h3{
        font-size:large;
    }
    .skills-section{
        margin-left:30px;
    }
    .skills-list{
        width: 100%;
    }
    .skills-section h3{
        font-size:large;
    }
    .skills-section p{
        font-size:smaller;
    }
    .project-item{
        min-height: 150px;
        min-width: 200px;
    }

    .project-item-t{
        font-size:medium;
    }
    .project-item-s{
        font-size:smaller;
    }
    .pro{
        margin: 5px;
    }
    .project-link-holder{
        margin-top: 10px;
    }
    .project-link-holder a{
        font-size:smaller;
    }
    .project-link-holder a img{
        height: 20px;
    }
    .projects-section{
        max-width: 80%;
    }
    .project-item{
        padding: 5px;
    }
    
    
}

@media (max-width: 450px){
    #hi10{
        font-size:12px;
    }
    #hi11{
        font-size:12px;
    }
    .description{
        font-size:11px;
    }
    .experience-item-a img{
        height: 50px;
        width: 50px;
    }
    .experience-item{
        height:100px;
    }
    .experience-item-a{
        min-width:70px;
        min-height:50px;
    }
}
