

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.form-title {
  font-family: 'Poppins', sans-serif;

  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
  animation: fadeIn 1s ease-out;
}

.signup-form {
  font-family: 'Poppins', sans-serif;

  background: #ffffff;
  border-radius: 10px;
  padding: 40px;
  width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.signup-form:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.form-subtitle {
  font-family: 'Poppins', sans-serif;

  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  animation: fadeIn 1.5s ease-out;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #007BFF;
  outline: none;
}

.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top:-9px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #007BFF;
  /* Color for the toggle */
}

.address-container {
  display: flex;
  justify-content: space-between;
}

.small-input {
  width: 48%;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #007BFF, #00BFFF);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  background: linear-gradient(90deg, #0056b3, #00A3E0);
  transform: scale(1.05);
}

#i147{
}

#pwd {
  margin-top: -10px;
  margin-right: -20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 600px) {
  #i145{
    width:60%;
  }
  #i146{
    font-family:"Poppins", sans-serif;
    font-size:20px;
  }
  #i147{
    font-size:12px;
    height:15px;
  }
  .form-title{
    font-family:"Poppins", sans-serif;
  }
  #i148{
    height:35px;
    width:100px;
    font-size:12px;
  }
}